

/*------------*/
body {
  font-family: 'Lobster', cursive;
}
:root {
  --pirma-spalva: #c2e1ff;
  --antra-spalva: rgb(136, 157, 179);
  --trecia-spalva: #ffc2d7;
  --ketvirta-spalva: #b38897;
}
/*bendros detales*/
button {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 10px;
}

input  {
  border-radius: 20px;
  padding: 5px 10px;
  border-color:  var(--antra-spalva);
}

select {
  border-radius: 20px;
  padding: 5px 7px;
  border-color:  var(--antra-spalva);
  border: 2px solid var(--antra-spalva);
  cursor: pointer;
}

option {
  border-radius: 20px;
  border-style: hidden;
  background-color: var(--pirma-spalva);
}
option:hover {
  cursor: pointer;
}

/*bendros detales*/

.stulpeliu-tevas{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stulpeliu-vaikas1 {
  /*padding: 10px 30px;*/
  margin: 20px;
  min-width: 400px;
  border-radius: 20px;
}

.sarasas, .titleee {
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 10px; 
}
.stulpeliu-vaikas2 {
  /*padding: 10px 30px;*/
  margin: 20px;
  min-width: 400px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 10px;
}

.titleee {
  background-color: var(--pirma-spalva);
  border-left: 3px solid var(--antra-spalva);
  border-right: 3px solid var(--antra-spalva);
  border-top: 3px solid var(--antra-spalva);
  border-radius: 0px 25px 0px 0px;
  text-align: center;
  width: 100%;
}

h2 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

li{
  border-bottom: 1px solid var(--antra-spalva);
  width: 90%;
  padding: 10px;
  margin-left: -10px;
}

li:last-child {
  border-bottom: none;
}

.sarasas{
  background-color: var(--trecia-spalva);
  width: 100%;
  border: 3px solid var(--antra-spalva);
  border-radius: 0px 0px 0px 25px;
}

/*forma prazia*/
.formos-vidus {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.forma {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 20px;
}

.forma-buttons {
  background-color: var(--pirma-spalva);
  border-color: var(--antra-spalva);
  cursor: pointer;
}

.forma-buttonss {
  display: flex;
  justify-content: center;
}

.forma-buttons:hover {
  background-color:var(--ketvirta-spalva);
  transition: 1s;
  color: white;
}

input[type=file]::file-selector-button {
  border: 2px solid var(--antra-spalva);
  padding: 3px 10px;
  border-radius: 20px;
  background-color: var(--pirma-spalva);
  transition: 1s;
  cursor: pointer;
  
}

input[type=file]::file-selector-button:hover {
  background-color:var(--ketvirta-spalva);
  color: white;
}

.forma-foto {
  width: 90px; /*paslepiau nuotraukos uzrasa*/

}
/*forma pabaiga*/