

/*------------*/

:root {
  --pirma-spalva: #c2e1ff;
  --antra-spalva: #889db3;
  --trecia-spalva: #ffc2d7;
  --trecia-spalva: #b38897;
}
.p-contai {
  background-color: red;
}

.stulpeliu-tevas{
  display: flex;
  justify-content: space-around;
  background-color: pink;
  flex-wrap: wrap;
}

.stulpeliu-vaikas1 {
  background-color: royalblue;
  /*padding: 10px 30px;*/
  margin: 20px;
  min-width: 400px;
}

.titleee {
  background-color: var(--pirma-spalva);
  border: 3px solid var(--antra-spalva);
  text-align: center;
  width: 100%;
}